<div class="container1">
  <FONT SIZE="7"><FONT COLOR="black" >Reviews</FONT></FONT><br>
</div>

<div class="container2">
  <div class="container responsive-grid">
    <mat-card class="example-card">
      <mat-card-content>
        <br><div class="container1"><h1>María del Carmen Álvarez</h1></div>
        <p>
          Una inspectora meticulosa y altamente organizada, siempre atenta a los mínimos detalles. Su experiencia en microbiología la convierte en una experta en la detección de contaminantes en alimentos.
        </p>
        <mat-card-actions>
          <div class="container1">
          <button mat-stroked-button  class="boton" style="color:white;">Contratar</button>
          <button mat-stroked-button  class="boton" style="color:white;">Más info</button>
          </div>
        </mat-card-actions>

      </mat-card-content>
    </mat-card>

    <mat-card class="example-card">
      <mat-card-content>
        <br><div class="container1"><h1>Javier Gómez Rodriguez</h1></div>
        <p>
          Un inspector dinámico y comunicativo, con una gran capacidad para relacionarse con diferentes tipos de personas. Su conocimiento en gestión de residuos lo hace ideal para evaluar la correcta disposición de los mismos en establecimientos comerciales.
        </p>
        <mat-card-actions>
          <div class="container1">
            <button mat-stroked-button  class="boton" style="color:white;">Contratar</button>
            <button mat-stroked-button  class="boton" style="color:white;">Más info</button>
          </div>
        </mat-card-actions>
      </mat-card-content>
    </mat-card>

    <mat-card class="example-card">
      <mat-card-content>
        <br><div class="container1"><h1>Ana Martínez Gonzales</h1></div>
        <p>
          Una inspectora apasionada por la salud pública, con un profundo conocimiento en legislación sanitaria. Su enfoque preventivo la lleva a realizar capacitaciones constantes a los establecimientos para mejorar sus prácticas.
        </p>
        <mat-card-actions>
          <div class="container1">
            <button mat-stroked-button  class="boton" style="color:white;">Contratar</button>
            <button mat-stroked-button  class="boton" style="color:white;">Más info</button>
          </div>
        </mat-card-actions>
      </mat-card-content>
    </mat-card>

    <mat-card class="example-card">
      <mat-card-content>
        <br><div class="container1"><h1>Juan Jose López Zuñiga</h1></div>
        <p>
          Un inspector experimentado en el sector de la hostelería, con un gran sentido de la responsabilidad. Su capacidad para identificar riesgos potenciales en cocinas industriales lo convierte en un valioso activo para garantizar la seguridad alimentaria.
        </p>
        <mat-card-actions>
          <div class="container1">
            <button mat-stroked-button  class="boton" style="color:white;">Contratar</button>
            <button mat-stroked-button  class="boton" style="color:white;">Más info</button>
          </div>
        </mat-card-actions>
      </mat-card-content>
    </mat-card>

    <mat-card class="example-card">
      <mat-card-content>
        <br><div class="container1"><h1>Laura García Rivasplata</h1></div>
        <p>
          Una inspectora joven e innovadora, siempre buscando nuevas herramientas tecnológicas para optimizar su trabajo. Su dominio en el análisis de datos la ayuda a identificar patrones y tendencias en los resultados de las inspecciones.
        </p>
        <mat-card-actions>
          <div class="container1">
            <button mat-stroked-button  class="boton" style="color:white;">Contratar</button>
            <button mat-stroked-button  class="boton" style="color:white;">Más info</button>
          </div>
        </mat-card-actions>
      </mat-card-content>
    </mat-card>
    <mat-card class="example-card">
      <mat-card-content>
        <br><div class="container1"><h1>Carlos Hernández De La Flor</h1></div>
        <p>
          Un inspector con una gran capacidad de adaptación, capaz de enfrentar situaciones complejas y resolver problemas de manera eficiente. Su experiencia en el sector agrícola lo hace ideal para evaluar las condiciones sanitarias en las explotaciones ganaderas.
        </p>
        <mat-card-actions>
          <div class="container1">
            <button mat-stroked-button  class="boton" style="color:white;">Contratar</button>
            <button mat-stroked-button  class="boton" style="color:white;">Más info</button>
          </div>
        </mat-card-actions>
      </mat-card-content>
    </mat-card>
    <mat-card class="example-card">
      <mat-card-content>
        <br><div class="container1"><h1>Sofía Rodríguez Saavedra</h1></div>
        <p>
          Una inspectora empática y paciente, siempre dispuesta a escuchar las inquietudes de los inspeccionados. Su conocimiento en psicología la ayuda a establecer una buena relación con los propietarios de los establecimientos.
        </p>
        <mat-card-actions>
          <div class="container1">
            <button mat-stroked-button  class="boton" style="color:white;">Contratar</button>
            <button mat-stroked-button  class="boton" style="color:white;">Más info</button>
          </div>
        </mat-card-actions>
      </mat-card-content>
    </mat-card>
    <mat-card class="example-card">
      <mat-card-content>
        <br><div class="container1"><h1>David Santos Cruzeiro</h1></div>
        <p>
          Un inspector con una gran pasión por la naturaleza, comprometido con la protección del medio ambiente. Su experiencia en gestión de recursos naturales lo hace ideal para evaluar el impacto ambiental de las actividades industriales.
        </p>
        <mat-card-actions>
          <div class="container1">
            <button mat-stroked-button  class="boton" style="color:white;">Contratar</button>
            <button mat-stroked-button  class="boton" style="color:white;">Más info</button>
          </div>
        </mat-card-actions>
      </mat-card-content>
    </mat-card>
    <mat-card class="example-card">
      <mat-card-content>
        <br><div class="container1"><h1>Isabel Fernández Sanchez</h1></div>
        <p>
          Una inspectora con una gran capacidad de liderazgo, capaz de coordinar equipos de trabajo y gestionar proyectos complejos. Su conocimiento en gestión de calidad la ayuda a implementar sistemas de mejora continua en los establecimientos inspeccionados.
        </p>
        <mat-card-actions>
          <div class="container1">
            <button mat-stroked-button  class="boton" style="color:white;">Contratar</button>
            <button mat-stroked-button  class="boton" style="color:white;">Más info</button>
          </div>
        </mat-card-actions>
      </mat-card-content>
    </mat-card>

  </div>
</div>





